body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
    
  }

  header{
      display: flex;
      flex-flow: column wrap;
      align-items: center;      
  }

  .nav_links {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  }


  a:visited {
    color: blue;
}

div .card header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

div .card_big header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}


.pricing {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
}

.card {
   flex-basis: 450px;
}
.card_big {
    flex-basis: 450px;
 }



#image1, #image2, #image3, #image4, #image5, #image6 {
    border: solid #50C7C7 10px;
    margin: 10px;
    width: 300px;

}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#logo {
    animation-name: zoom-in;
    animation-duration: 5s;
    animation-iteration-count: 1;
    transition-property: opacity, width;
}
    
@keyframes zoom-in {
    0% {
        opacity: 0;
        width: 50px;
    }
    100% {
        opacity: 1;
        width: 425px;

     }
}


@media screen and (min-width: 850px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        width: 100%;

    }
  
    .card {   
        flex-basis: 250px;
    }

    .card_big {
        flex-basis: 250px;
    }

    div .card header {
        position: static;
    }

    div .card_big header {
        position: static;
    }
    
   

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

      }
      
    
    @media screen and (prefers-reduced-motion: reduce){
        @keyframes zoom-in {
            0% {
                opacity: 1;
                width: 425px;
            }
            100% {
                opacity: 1;
                width: 425px;
    
            }
        }
    
    }   
}
@media print {
    body{
        background-image: none;
      }
      header {
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        justify-content: space-between;

    }

    nav {
        width: 100%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .pricing {
        display: flex;
        flex-flow: row;
        align-items: flex-end;
       
    }
    .card {   
        flex-basis: 250px;
        border: solid 2px #45ADDD;
    }
    .gallery, #gallery {
        display: none;
    }

    .card li:nth-child(2n+1)::before {
        content: "👍";
    }
    .card li:nth-child(2n)::after {
        content: "👍";
    }

    
}
